.navbar {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em  var(--padding-x)  .5em;
    margin-bottom: .5em;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;

    &__btn {
        font-size: inherit;
        padding: .5em 1em;
        border-radius: 1.5em;
        display: flex;
        align-items: center;
        gap: .5em;
        white-space: nowrap;
        transition: background-color .25s ease-in;

        &::before {
            width: 1.5em;
            height: 1.5em;
        }

        &:hover,
        &.active {
            background-color: var(--yellow);
        }

        &--burger {
            &::before {
                content: url(../images/icons/burger.png);
            }
        }

        &--snack {
            &::before {
                content: url(../images/icons/snack.png);
            }
        }

        &--hotdog {
            &::before {
                content: url(../images/icons/hotdog.png);
            }
        }

        &--combo {
            &::before {
                content: url(../images/icons/combo.png);
            }
        }

        &--shawarma {
            &::before {
                content: url(../images/icons/shawarma.png);
            }
        }

        &--pizza {
            &::before {
                content: url(../images/icons/pizza.png);
            }
        }

        &--wok {
            &::before {
                content: url(../images/icons/wok.png);
            }
        }

        &--donut {
            &::before {
                content: url(../images/icons/donut.png);
            }
        }

        &--sauce {
            &::before {
                content: url(../images/icons/sauce.png);
            }
        }

    }
}