:root {
    --orange: #FF7020;
    --yellow: #FFAB08;
    --black: #020202;
    --white: #F2F2F2;

    --font-family: 'Nunito';
    --font-size: 1rem;
    --font-weight: 400;
    --line-height: 1.2;
    --color: var(--black);
    --bg-color: var(--white);

    --gutter-x: 1.5em;
    --gutter-y: ;

    --padding-x: calc(var(--gutter-x) * .5);
    @media (min-width:992px) {
        --gutter-x: 2.1em;

    }
}

@import "start";
@import "header";
@import "navbar";

@import "footer";